#header {
    border-bottom: #3c457d 20px solid;
    background: #e6e8f4;
    margin-left: 10px;
    margin-right: 10px;
    /* display:fixed; if you want it to follow where you scroll */
    /* display: absolute;  */
    /* display:sticky; */
}
#better{
    display: inline-block;
}

.button{
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
}

ol {
    list-style-type: none;
}

.button:hover{
    background-color: #b1bbec;
}
ol li a{
    text-decoration: none;
    color: #003366;
}
.title{
    padding: 18px;
}

span{
    color: #003366;
}
#mission{
    height: 400px;
    width: 50%;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #b1bbec;
    color: black;
    padding: 10px;
}

#middle-break{
    text-align: center;
    border-top: #3c457d 20px solid;
    background-color: 	#e6e8f4;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#box{
    float: left;
    border: black 2px solid;
    margin: 2cm;
    width: 300px;
    display: block;
    text-align: center;
}
.box{
    float: right;
    border: black 2px solid;
    margin: 2cm;
    width: 500px;
    display:block;
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
}

p{
    font-size: 16px;
}

.italic{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#img{
    display: inline;
}

.dropbtn {
    background-color: #3c457d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    float:right;
    position: relative;
    display: inline-block;
    margin-top: -100px;
  }
  
  .dropdown-content {
    padding: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    float: none;
    align-content: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #b1bbec;}
  
  .show {display: block;}