#header {
    border-bottom: #062F4F 20px solid;
    background: #e6e8f4;
    margin-left: 10px;
    margin-right: 10px;
    /* display:fixed; if you want it to follow where you scroll */
    /* display: absolute;  */
    /* display:sticky; */
}
#better{
    display: inline-block;
}

.button{
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
}

ol {
    list-style-type: none;
}

.button:hover{
    background-color: #b1bbec;
}
ol li a{
    text-decoration: none;
    color: #003366;
}
.title{
    padding: 18px;
}

span{
    color: #003366;
}
#mission{
    height: 400px;
    width: 50%;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #813772;
    color: #FFFFFF;
    padding: 10px;
}

#middle-break{
    text-align: center;
    border-top: #062F4F 20px solid;
    background-color: 	#e6e8f4;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#box{
    float: left;
    border: black 2px solid;
    margin: 2cm;
    width: 300px;
    display: block;
    text-align: center;
}
.box{
    float: right;
    border: black 2px solid;
    margin: 2cm;
    width: 500px;
    display:block;
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
}

p{
    font-size: 16px;
}

.italic{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#img{
    display: inline;
}

.dropbtn {
    background-color: #062F4F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    float:right;
    position: relative;
    display: inline-block;
    margin-top: -100px;
    margin-right: 30px;
  }
  
  .dropdown-content {
    padding: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: none;
    right: 0;
    z-index: 1;
    float: none;
    align-content: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-content: center;
    text-align: center;
    float: none;
  }
  
  .dropdown a:hover {background-color: #b1bbec;}
  
  .show {display: block;}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }